In [1]:
# OPERATIONAL PACKAGES ---------------------------------------
import numpy as np
import pandas as pd
from math import inf
import scipy as sp

# STYLE RESOURCES ---------------------------------------
import matplotlib.pyplot as plt
plt.style.reload_library()
plt.style.use(['science', 'grid'])

In [29]:
# READING THE DATA FROM .txt FILES ---------------------------------------
df = pd.read_csv('ch1_test.csv', names=['t','V'])
df['$V^2$'] = df['V']**2
df['$V^2$/10'] = df['$V^2$']/10
df['($V^2$/10)2'] = df['$V^2$/10']**2
df

             t     V   $V^2$  $V^2$/10  ($V^2$/10)2
0    -0.000500  0.48  0.2304   0.02304     0.000531
1    -0.000500  0.48  0.2304   0.02304     0.000531
2    -0.000499  0.40  0.1600   0.01600     0.000256
3    -0.000499  0.32  0.1024   0.01024     0.000105
4    -0.000498  0.48  0.2304   0.02304     0.000531
...        ...   ...     ...       ...          ...
2495  0.000498  0.72  0.5184   0.05184     0.002687
2496  0.000498  0.72  0.5184   0.05184     0.002687
2497  0.000499  0.64  0.4096   0.04096     0.001678
2498  0.000499  0.64  0.4096   0.04096     0.001678
2499  0.000500  0.56  0.3136   0.03136     0.000983

[2500 rows x 5 columns]

In [40]:
RMS = np.sqrt(df['$V^2$'].mean())
RMS

1.1360540832196295

In [43]:
RMS = np.sqrt(df['($V^2$/10)2'].mean())
RMS

0.1651232763705947

In [42]:
(RMS**2)/10

0.1290618879999993

In [17]:
a = np.sqrt(3.44e-3*10)
a

0.1854723699099141

In [18]:
b = 11e-3 #mV

In [19]:
(a/b-1)*100

1586.1124537264918

In [20]:
a/b

16.861124537264917

In [16]:
100-0.1

99.9

In [21]:
(10*0.92)/(1000*600*1.046)**2

2.3357263357409596e-11

In [26]:
from scipy.constants import k

In [29]:
4*k*295.1*99.9e3*1000

1.6280883615204003e-12